#{extends 'privateTemplate.html' /} 
#{set title:'Home' /}

	<h1>Who We Are</h1>
	<p class="">Harar Emmanuel United Church Is church that has its
		origins in different groups of charismatic youth's in the Ethiopian
		Orthodox Church. Its established in Harar..........</p>
	<p class="">Harar Emmanuel United Church Is church that has its
		origins in different groups of charismatic youth's in the Ethiopian
		Orthodox Church. Its established in Harar..........</p>
	<div class="notes">
		<a id="aboutUs" name="aboutUs" href="@{AboutUs.showAboutUs}">Read
			More....</a>
	</div>



