#{extends 'publicTemplate.html' /}
#{set title:'About Us' /}
       <p class="">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Childeren's Ministry</a></li>
				<li><a href="#tabs-2">Youth Ministry</a></li>
				<li><a href="#tabs-3">Youth and Adult Ministry</a></li>
				<li><a href="#tabs-4">Senior Ministry</a></li>
				<li><a href="#tabs-5">Small Groups Ministry</a></li>
				
			</ul>
			<div id="tabs-1">
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>

				 <p>John 3:16 - New International Version</p>
				 <p>For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.</p>

				 <p>John 3:16 - New American Standard Bible</p>
				 <p>For God so loved the world, that He gave His only begotten Son, that whoever believes in Him shall not perish, but have eternal life.</p>
			</div>
			<div id="tabs-2">
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>

			</div>
			<div id="tabs-3">
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>

			</div>
			<div id="tabs-4">
				<p>John 3:16 - New International Version</p>
				 <p>For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.</p>

				 <p>John 3:16 - New American Standard Bible</p>
				 <p>For God so loved the world, that He gave His only begotten Son, that whoever believes in Him shall not perish, but have eternal life.</p>
		
			</div>
			<div id="tabs-5">
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
				<p>John 3:16 - King James Version</p>
				<p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>

			</div>
		</div>
      	    <span class="error"></span>
       </p>
