#{extends 'publicTemplate.html' /}
#{set title:'About Us' /}
	<h1>Our Commitment</h1>

     <p>"God commands us to reflect his own character though compassionate care for the needy, and to demonstrate the values and the power of the kingdom of God in striving for justice and peace and in caring for God's creation."</p>
   	 <p class="">	
 		Harar Emmanuel United Church 
		Is church that has its origins in different groups of charismatic youth's in the Ethiopian Orthodox Church. Its established in Harar..........
   	 </p>
   	 <p class="">	
 		Harar Emmanuel United Church 
		Is church that has its origins in different groups of charismatic youth's in the Ethiopian Orthodox Church. Its established in Harar..........
   	 </p>     
   	 <p class="">	
 		Harar Emmanuel United Church 
		Is church that has its origins in different groups of charismatic youth's in the Ethiopian Orthodox Church. Its established in Harar..........
   	 </p>
   	 <p class="">	
 		Harar Emmanuel United Church 
		Is church that has its origins in different groups of charismatic youth's in the Ethiopian Orthodox Church. Its established in Harar..........
   	 </p>
   	 <p class="">	
 		Harar Emmanuel United Church 
		Is church that has its origins in different groups of charismatic youth's in the Ethiopian Orthodox Church. Its established in Harar..........
   	 </p>   	 
   	 <p class="">	
 		Harar Emmanuel United Church 
		Is church that has its origins in different groups of charismatic youth's in the Ethiopian Orthodox Church. Its established in Harar..........
   	 </p>

