<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Administration</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        #{get 'moreStyles' /}
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/showcase.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.ui.selectmenu.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.ui.timepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/"></script>
    <script src="@{'/public/javascripts/setupControls.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	
    </head>
    <body id="admin">
        
        <div id="header">
		<div id="header1">
			<div id="options">
				<ui id="menu">
				<li><a href="@{Secure.logout()}">Log Out</a></li>
				</ui>
			</div>
		</div>
		<div id="logo"> 
			<h1>HEUC. administration</h1>
		</div>
        <div id="header2"> </div>       
        </div>
        <div id="main">
            
            <ul id="adminMenu">
                #{secure.check 'admin'}
                    <li class="${request.controller == 'Members' ? 'selected' : ''}">
                        <a href="@{Members.list()}">Members</a>
                    </li>
                    <li class="${request.controller == 'UploadVideo' ? 'selected' : ''}">
						<a href="@{UploadVideo.index}">Upload Video</a>
					</li>
					<li> <li class="${request.controller == 'UploadPicture' ? 'selected' : ''}">
						<a href="@{UploadPicture.index}">Upload Picture</a> 
					</li>
                    <li class="${request.controller == 'Posts' ? 'selected' : ''}">
                        <a href="@{Posts.list()}">Posts</a>
                    </li>
                    <li class="${request.controller == 'Tags' ? 'selected' : ''}">
                        <a href="@{Tags.list()}">Tags</a>
                    </li>
                    <li class="${request.controller == 'Comments' ? 'selected' : ''}">
                        <a href="@{Comments.list()}">Comments</a>
                    </li>
                    <li class="${request.controller == 'Users' ? 'selected' : ''}">
                        <a href="@{Users.list()}">Users</a>
                    </li>
                #{/secure.check}
                
                <li class="${request.controller == 'Admin' ? 'selected' : ''}">
                    <a href="@{Admin.index()}">My posts</a>
                </li>
            </ul>
            
            #{doLayout /} 
        </div>
        
        <p id="footer">
            Harar Emmanuel United Church (እማኑኤል ህብረት ቤተክርስቲያን) </br>
 Is church that has its origins in different groups of charismatic youth's 
in the Ethiopian Orthodox Church. Its established in Harar
        </p>
        
    </body>
</html>
