<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>#{get 'title' /}</title>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/showcase.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.ui.timepicker.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.ui.selectmenu.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/themes/dark-hive/jquery-ui-1.8.16.custom.css'}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.ui.selectmenu.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.ui.timepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/"></script>
    <script src="@{'/public/javascripts/tiny_mce346/tiny_mce.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/setupControls.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	
</head>
    <body>

        <div id="header">
            <div id="logo">
                HEUC.
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Admin.index()}">Log in to write something</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1><a href="@{Application.index()}">${blogTitle}</a></h1>
                <h2>${blogBaseline}</h2>
            </div>
        </div>

        <div id="main">
            #{doLayout /}
        </div>

        <p id="footer">
				Harar Emmanuel United Church (እማኑኤል ህብረት ቤተክርስቲያን) </br>
		        Is church that has its origins in different groups of charismatic youth's 
				in the Ethiopian Orthodox Church. Its established in Harar
        </p>

    </body>
</html>
	