<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>#{get 'title' /}</title>
    <link rel="stylesheet" media="screen" href="/public/stylesheets/jquery.ui.timepicker.css">
    <link rel="stylesheet" media="screen" href="/public/stylesheets/jquery.ui.selectmenu.css">
    <link rel="stylesheet" media="screen" href="/public/stylesheets/themes/dark-hive/jquery-ui-1.8.16.custom.css">
    <link rel="stylesheet" media="screen" href="/public/stylesheets/showcase.css">

    <link rel="shortcut icon" type="image/png" href="/public//images/favicon.png">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="/public/javascripts/jquery.dataTables.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="/public/javascripts/jquery.ui.selectmenu.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="/public/javascripts/jquery.ui.timepicker.js" type="text/javascript" charset="${_response_encoding}"></script>
	<script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/"></script>
    <script src="/public/javascripts/tiny_mce346/tiny_mce.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="/public/javascripts/setupControls.js" type="text/javascript" charset="${_response_encoding}"></script>
	
</head>
<body>

	<div id="header">
	<div id="loading"><img src="images/spinner.gif"/></div>
		<div id="header1">
		</div>
		<div id="logo"> 
			<h1> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			Harar Emmanuel United Church.</h1> 
		</div>
		<div id="header2">
			<div id="options">
				<ul id="menu">
					<div id="switcher" style="float:left;clear:both"></div>
					<li> <li class="${request.controller == 'Menus' ? 'selected' : ''}">
						<a href="@{Application.logout()}">Home</a> 
					</li>
					<li class="${request.controller == 'ContactUs' ? 'selected' : ''}">
						<a href="@{ContactUs.showContactUs}">Contact Us</a>
					</li>
					<li> <li class="${request.controller == 'UploadPicture' ? 'selected' : ''}">
						<a href="@{UploadPicture.index}">Pictures</a> 
					</li>
					<li class="${request.controller == 'Events' ? 'selected' : ''}">
						<a href="@{Events.showEvents}">Events</a>
					</li>
					<li> <li class="${request.controller == 'Ministries' ? 'selected' : ''}">
						<a href="@{Ministries.index}">Our Ministries</a> 
					</li>
				</ul>
			</div>
		</div>
	</div>
   	<div id="container">
       	<aside id="sidebar">
			<span id="login">
				#{form @login(),id:'formLogin'}
			
					<fieldset>
						#{if flash.error}
						<p class="fError">
							<strong>${flash.error}</strong>
						</p>
						#{/if} 
						
						<p id="username-field">
							<label for="username">User Name</label>
							<input type="text" name="username" id="username" value="${flash.username}"/>
						</p>
						<p id="password-field">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" value=""/>
						</p>
						<p id="signin-field">
							<input type="submit" id="signin" value="Login" />
						</p>
						<div class="notes">
			               	<a id="login:register" name="login:register" href="@{Application.register}">Register New User</a>
						</div>
					</fieldset> 
					#{/form} 
					<span id="login">
						<p>
							<fieldset>
								<h4> Bible Verse of the Day - (NIV) </h4>
								<iframe width="175" height="250" src="/dailyBibleVerses/dailyBibleVerse"></iframe>
							</fieldset>
						</p>
					</span>
			</span>
       	</aside>
		<div id="content">
	   			#{doLayout /}
	   	</div>
		<div>
	       <table id="dataTable">
			    <thead>
			        <tr>
		                <th width="23%">Videos</th>
		                <th width="23%">Action</th>
					</tr>
				</thead>
				<tbody>
	        	#{list items:models.Video.findAll(), as:'video'}
				    <tr class="even">
						<td>${video.name}</td>
				      	<td><a href="@{DisplayVideos.show(video.id)}">View Video</a></td>
				    </tr>
	            #{/list}
				</tbody>
			</table>
		</div>
    </div>
	<div id="footer">
            Harar Emmanuel United Church (á¥ááá¤á áá¥á¨áµ á¤á°á­á­áµá²á«á) </br>
			Is church that has its origins in different groups of charismatic youth's 
			in the Ethiopian Orthodox Church. Its established in Harar
   	</div>
   	
   	
   	
   	
</body>
</html>
